*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
    font-family: 'Poppins' , sans-serif;

}

.calculator {
    height: 100vh;
    width:100%;
    background: #a0d7ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    background: #17181a;
    padding: 26px;
    border-radius: 20px;
    box-shadow: 0px 80px 50px -30px rgba(41, 168, 255,0.2);
}

input{
    width: 330px;
    padding: 25px;
    margin: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 45px;
    text-align: right;
    color: #fff;
}

input::placeholder{
    color: #fff;
}

button {
    border: none;
    outline: none;
    width: 60px;
    height:60px;
    border-radius: 10px;
    background: #303136;
    font-size: 21px;
    color: #29a8ff;
    margin: 10px;
    cursor:pointer;
}

.equal{
    background: #005db2;
    width: 144px;
    color: #fff;
    font-weight: 700;
}

.other-clr{
   background: #616161;
   color: #a5a5a5;
   font-weight: 400;
}

.main{
    background: #005db2;
    color: #339dff;
}